.main-logo{
    display: flex;
    justify-content: center;
}
.main-logo img{
    width: 300px;
}
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(26, 56, 56);
}
.nav-bar img{
    width: 100px;
    
}
.nav-bar nav a {
    text-decoration: none;
    line-height: 50px;
    display: inline-block;
    padding: 10px 30px;
    color: white;
    font-weight: 500;
}
a:hover{
    background-color: rgb(0, 0, 0);
}
